.socialsLinks {
	display: flex;
	flex-direction: row;
	gap: 45px;
	&__icon {
		transition: 0.2s;

		@media (min-width: 768px) {
			&:hover {
				* {
					fill: #f3ba4f;
					transition: 0.2s;
				}
			}
		}
	}
}
